nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: rgb(102, 148, 9);
  display: flex;
}

nav ul li a {
  display: block;
  color: rgb(243, 236, 236);
  text-align: center;
  padding: 14px 16px;
}

/* Change the color of links on hover */
nav ul li a:hover {
  background-color: #bef117;
  color: rgb(92, 27, 189);
}

#signup-div {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 300px;
  margin: 0 auto; /* Ensure horizontal centering */
  border: 2px solid black;
  padding: 20px; /* Add padding for better appearance */
  background-color: aqua;
}

#signup-div input{
  border: 1.5px solid rgb(211, 18, 147);
}

#login-div {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px; /* Set the width */
  height: 200px; /* Set the height */
  margin: 0 auto; /* Ensure horizontal centering */
  border: 2px solid black;
  padding: 20px; /* Add padding for better appearance */
  background-color: aqua;
}

#login-div input{
  border: 1.5px solid rgb(211, 18, 147);
}

/* Additional CSS for the new message section */

#message-div {
  height: 400px;
  width: 500px;
  text-align:justify;
  position: relative;
  border: 2px solid black;
  padding: 20px;
  margin: auto;
  margin-top: 100px;
}

#message-form {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

pre {
  white-space: pre-wrap;
  max-height: 280px;
  overflow-y: auto;
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"] {
  width: calc(100% - 10px);
  padding: 8px;
  margin-bottom: 10px;
  border: 2px solid rgb(211, 18, 147);
  border-radius: 4px;
}

button[type="submit"] {
  width: calc(100% - 10px);
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #45a049;
}
